.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > span {
  margin-bottom: 1em;
}

table {
  border-spacing: 0;
}

td.amount {
  text-align: right;
}

td.sum {
  font-weight: bold;
}

td.average {
  background: #eee;
}

td.label, th.label {
  text-align: left;
}

td, th {
  padding: .5em;
  border-bottom: 1px solid #333;
  margin: 0;
}
